# Job Classifier

In [189]:
import pandas as pd
import numpy as np
from nltk.tag import StanfordPOSTagger

In [190]:
import nltk
# nltk.download('averaged_perceptron_tagger')

## Prepare sample data

In [191]:
nn_summary = ".\\tags\\nn-summary.txt"
df_nn_summary = pd.read_table(nn_summary, sep="|",index_col=False, header=None,error_bad_lines=False)

Skipping line 3: expected 527 fields, saw 569
Skipping line 8: expected 527 fields, saw 541
Skipping line 23: expected 527 fields, saw 580
Skipping line 25: expected 527 fields, saw 616

In [192]:
df_nn_summary = df_nn_summary.transpose().fillna("")

In [193]:
df_nn_summary.columns = df_nn_summary.iloc[0]

In [194]:
df_nn_summary = df_nn_summary[2:]

In [195]:
df_nn_summary_3 = df_nn_summary[['SQL','Java','Python']]

In [196]:
df_nn_summary_3.head(10)

0              SQL         Java       Python
2       Experience   Experience   experience
3        gathering  development  programming
4           design         life            •
5      development        cycle     software
6   implementation    knowledge  development
7              web  programming   life-cycle
8                •       Design       object
9         business            •     database
10            team          web       design
11      enterprise   experience         code

In [197]:
df_nn_summary_3.tail(10)

0                 SQL Java Python
517  de-normalization
518           Back-up
519        conversion
520      relationship
521           concept
522         Transform
523       exploration
524           builder
525      adaptability
526            leader

In [198]:
df_nn_summary_3.Python.head(10)

2      experience
3     programming
4               •
5        software
6     development
7      life-cycle
8          object
9        database
10         design
11           code
Name: Python, dtype: object

## Processing input data : job requirement.docx/doc

Python_job_req1.txt

In [199]:
### STEP1: read in txt
with open('.\\Python_job_req1.txt', 'r') as myfile:
    text=myfile.read().replace('\n', ' ')

In [200]:
text = text.replace("\x95\t"," ")

In [201]:
tokens = nltk.word_tokenize(text)
tokens[:10]

['Python',
 'Developer',
 'Mondo',
 '-',
 'New',
 'York',
 ',',
 'NY',
 'Title',
 'Python']

In [202]:
input_postag = nltk.pos_tag(tokens)
input_postag[:10]

[('Python', 'NNP'),
 ('Developer', 'NNP'),
 ('Mondo', 'NNP'),
 ('-', ':'),
 ('New', 'NNP'),
 ('York', 'NNP'),
 (',', ','),
 ('NY', 'NNP'),
 ('Title', 'NNP'),
 ('Python', 'NNP')]

In [203]:
# filtering list, keep NN only
input_postag_nn = [x[0] for x in input_postag if x[1] == 'NN']
input_postag_nn

['developer',
 'fast',
 'team',
 'business',
 'health',
 'participant',
 'source',
 'community',
 'ability',
 'product',
 'vision',
 'team',
 'experience',
 'experience',
 'shell',
 'proficient',
 'version',
 'control',
 'integration',
 'pair',
 'programming',
 'code',
 'Experience',
 'product',
 'management',
 'staff',
 'product',
 'marketing',
 'experience',
 'software',
 'source',
 'software',
 'development',
 'hacking',
 'experience',
 'ability',
 'staff',
 'presenting',
 'environment',
 'experience',
 'building',
 'parallel',
 'processing',
 'queue',
 'Experience',
 'web',
 'solution',
 'experience']

## Classification using Naive Bayes in scikit-learn 
[Working With Text](http://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html#working-with-text-data)  
[Multinomial Naive Bayes](http://scikit-learn.org/stable/modules/naive_bayes.html#multinomial-naive-bayes)  
[MultinomialNB Example](http://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.MultinomialNB.html#sklearn.naive_bayes.MultinomialNB)

In [204]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer

In [205]:
'''
X_train_counts = count_vect.fit_transform(twenty_train.data)
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf
twenty_train
'''

'\nX_train_counts = count_vect.fit_transform(twenty_train.data)\ntfidf_transformer = TfidfTransformer()\nX_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)\nX_train_tfidf\ntwenty_train\n'

In [206]:
'''
#test
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(X_train_tfidf, twenty_train.target)
'''

'\n#test\nfrom sklearn.naive_bayes import MultinomialNB\nclf = MultinomialNB().fit(X_train_tfidf, twenty_train.target)\n'

In [207]:
X_nn_summary_3 = (df_nn_summary_3.transpose().values)

In [246]:
X_nn_summary_list = []

In [247]:
type(X_nn_summary_list)

list

In [248]:
X_nn_summary_list_SQL = " ".join(X_nn_summary_3[0])
X_nn_summary_list_Java = " ".join(X_nn_summary_3[1])
X_nn_summary_list_Python = " ".join(X_nn_summary_3[2])

In [249]:
X_nn_summary_list.insert(0,X_nn_summary_list_SQL)
X_nn_summary_list.insert(1,X_nn_summary_list_Java)
X_nn_summary_list.insert(2,X_nn_summary_list_Python)

In [252]:
X_nn_summary_ar = np.array(X_nn_summary_list)

In [253]:
X_nn_summary_ar.shape

(3L,)

In [72]:
y = np.array(["SQL","Java","Python"])

[AttributeError: 'numpy.ndarray' object has no attribute 'lower'](http://stackoverflow.com/questions/26367075/numpy-countvectorizer-attributeerror-numpy-ndarray-object-has-no-attribute)

In [255]:
X_nn_summary_vectorized = CountVectorizer()\
    .fit_transform(X_nn_summary_ar)

In [256]:
X_nn_summary_vectorized

<3x791 sparse matrix of type '<type 'numpy.int64'>'
	with 1211 stored elements in Compressed Sparse Row format>

In [264]:
clf = MultinomialNB()
clf.fit(X_nn_summary_vectorized, y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [265]:
input_nn = " ".join(input_postag_nn)

In [267]:
clf.predict(input_nn)

TypeError: Cannot cast array data from dtype('float64') to dtype('S32') according to the rule 'safe'

In [270]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import Pipeline
text_clf = Pipeline([('vect', CountVectorizer()),
                     ('clf', MultinomialNB()),
                     ])

In [271]:
text_clf = text_clf.fit(X_nn_summary_list, y)

In [272]:
text_clf.predict(input_nn)

array(['Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java', 'Java',
       'Java', 'Java', 'Java', 'Java'],
      dtype='|S6')